.input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  border: solid 1px var(--gray-950);
  box-shadow: 0.15rem 0.15rem 0 var(--gray-950);
  outline: none;
}

.input[type="file"] {
  cursor: pointer;
}
