.main {
  background: var(--yellow);
  width: 100%;
  height: 100dvh;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  place-items: center;
}

.main > *:last-child {
  padding: 2rem 0.5rem;
}

@media (max-width: 90.625rem) {
  .main {
    padding: 2rem;
    height: auto;
    min-height: 100dvh;
    grid-template-columns: auto;
    grid-auto-flow: row;
  }
}
